* {
  margin: 0;
  padding: 0;
}

.main .banner {
  width: 1262px;
  height: 400px;
  position: relative;
  background: red;
  margin: 0 auto;
}
.main .banner .banner-1 {
  width: 1262px;
  height: 400px;
  background: red;
  position: relative;
}
.main .banner .banner-2 {
  background: #fefefe;
  width: 200px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 40px;
}
.main .banner .banner-2 li {
  width: 160px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  list-style: none;
}
.main .banner .banner-2 li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.main .banner .banner-2 li a:hover {
  color: white;
}
.main .banner .banner-2 li > span {
  float: right;
  color: #e9e9e9;
}
.main .banner .banner-2 li:hover {
  background: #d22147;
}
.main .banner .banner-3 {
  width: 200px;
  height: 380px;
  background: white;
  border: 10px solid #949494;
  position: absolute;
  top: 0px;
  right: 40px;
}
.main .banner .banner-3 .banner-3-top {
  width: 84px;
  height: 30px;
  background: url("../img/images-index/gongao_bg.png") no-repeat center center;
  font-size: 14px;
  color: white;
  line-height: 30px;
  position: absolute;
  top: -4px;
  left: 20px;
  text-align: center;
}
.main .banner .banner-3 .banner-3-middle {
  margin-top: 38px;
  list-style: none;
  line-height: 28px;
  font-size: 12px;
  padding-left: 20px;
  height: 160px;
  border-bottom: 1px solid #E6E6E6;
}
.main .banner .banner-3 .banner-3-middle li a {
  text-decoration: none;
  color: black;
}
.main .banner .banner-3 .banner-3-middle li a:hover {
  color: orangered;
}
.main .small-banner {
  width: 1222px;
  height: 180px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f3f3f3;
  margin: 0 auto;
}
.main .small-banner .s_banner {
  width: 280px;
  height: 180px;
  float: left;
  padding-right: 20px;
}
.main .gou {
  width: 1182px;
  height: 386px;
  padding: 0 40px;
  background: #f3f3f3;
}
.main .gou .gou-left {
  width: 900px;
  height: 350px;
  padding: 0 20px;
  padding-top: 16px;
  background: white;
  float: left;
}
.main .gou .gou-left > p {
  height: 24px;
  line-height: 24px;
}
.main .gou .gou-left > p .span-6 {
  float: left;
  display: block;
}
.main .gou .gou-left > p .span-6 > img {
  margin-right: 5px;
}
.main .gou .gou-left > p .span-7 {
  float: right;
  display: block;
}
.main .gou .gou-left > p .span-7 a {
  text-decoration: none;
  color: black;
}
.main .gou .gou-left .gou-main .product {
  width: 225px;
  height: 326px;
  float: left;
}
.main .gou .gou-left .gou-main .product > .img {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  cursor: pointer;
}
.main .gou .gou-left .gou-main .product > .title {
  text-align: center;
  font-size: 10px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.main .gou .gou-left .gou-main .product > .title:hover {
  color: #d22147;
}
.main .gou .gou-left .gou-main .product > .price {
  text-align: center;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  color: #d22147;
}
.main .gou .gou-left .gou-main .product > .jishi {
  text-align: center;
  height: 40px;
  font-size: 12px;
}
.main .gou .gou-left .gou-main .product > .jishi > span > img {
  padding-right: 10px;
}
.main .gou .gou-right {
  width: 200px;
  height: 336px;
  padding-top: 30px;
  padding-left: 20px;
  background: white;
  float: right;
}
.main .gou .gou-right > img {
  width: 180px;
  height: 180px;
}
.main .gou .gou-right > .title {
  font-size: 12px;
  line-height: 20px;
}
.main .gou .gou-right > .title a {
  text-decoration: none;
  color: black;
}
.main .gou .gou-right > .title a:hover {
  color: #d22147;
}
.main .gou .gou-right > .price {
  color: #d22147;
  font-size: 18px;
  font-weight: 600;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.main .gou .gou-right > .tuan {
  width: 180px;
  height: 50px;
  background: #d22147;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: white;
}
.main .tab {
  width: 1182px;
  height: 366px;
  padding: 0 40px;
  background: #f3f3f3;
}
.main .tab > p {
  width: 1182px;
  height: 50px;
  line-height: 50px;
  background: #fafafa;
}
.main .tab > p > span {
  float: left;
  width: 197px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.main .tab > p > span:hover {
  background: white;
  color: #d22147;
  border-top: 2px solid #d22147;
}
.main .tab > .products {
  width: 1182px;
  height: 316px;
  background: white;
}
.main .tab > .products > .products-1 {
  width: 1182px;
  height: 316px;
  position: relative;
}
.main .tab > .products > .products-1 > .li-1, .main .tab > .products > .products-1 > .li-2, .main .tab > .products > .products-1 > .li-3, .main .tab > .products > .products-1 > .li-4, .main .tab > .products > .products-1 > .li-5 {
  display: none;
}
.main .tab > .products > .products-1 > .li-1, .main .tab > .products > .products-1 > .li-2, .main .tab > .products > .products-1 > .li-3, .main .tab > .products > .products-1 > .li-4, .main .tab > .products > .products-1 > .li-5, .main .tab > .products > .products-1 > .li-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1182px;
  height: 316px;
  list-style: none;
}
.main .tab > .products > .products-1 > .li-1 > .product, .main .tab > .products > .products-1 > .li-2 > .product, .main .tab > .products > .products-1 > .li-3 > .product, .main .tab > .products > .products-1 > .li-4 > .product, .main .tab > .products > .products-1 > .li-5 > .product, .main .tab > .products > .products-1 > .li-6 > .product {
  width: 220px;
  height: 310px;
  float: left;
  margin: 0px 8px;
  margin-top: 6px;
}
.main .tab > .products > .products-1 > .li-1 > .product > .img, .main .tab > .products > .products-1 > .li-2 > .product > .img, .main .tab > .products > .products-1 > .li-3 > .product > .img, .main .tab > .products > .products-1 > .li-4 > .product > .img, .main .tab > .products > .products-1 > .li-5 > .product > .img, .main .tab > .products > .products-1 > .li-6 > .product > .img {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 20px;
}
.main .tab > .products > .products-1 > .li-1 > .product > .img > img, .main .tab > .products > .products-1 > .li-2 > .product > .img > img, .main .tab > .products > .products-1 > .li-3 > .product > .img > img, .main .tab > .products > .products-1 > .li-4 > .product > .img > img, .main .tab > .products > .products-1 > .li-5 > .product > .img > img, .main .tab > .products > .products-1 > .li-6 > .product > .img > img {
  width: 220px;
  height: 220px;
}
.main .tab > .products > .products-1 > .li-1 > .product > .title, .main .tab > .products > .products-1 > .li-2 > .product > .title, .main .tab > .products > .products-1 > .li-3 > .product > .title, .main .tab > .products > .products-1 > .li-4 > .product > .title, .main .tab > .products > .products-1 > .li-5 > .product > .title, .main .tab > .products > .products-1 > .li-6 > .product > .title {
  font-size: 12px;
  height: 48px;
  line-height: 20px;
  cursor: pointer;
}
.main .tab > .products > .products-1 > .li-1 > .product > .title:hover, .main .tab > .products > .products-1 > .li-2 > .product > .title:hover, .main .tab > .products > .products-1 > .li-3 > .product > .title:hover, .main .tab > .products > .products-1 > .li-4 > .product > .title:hover, .main .tab > .products > .products-1 > .li-5 > .product > .title:hover, .main .tab > .products > .products-1 > .li-6 > .product > .title:hover {
  color: orangered;
}
.main .tab > .products > .products-1 > .li-1 > .product > .price, .main .tab > .products > .products-1 > .li-2 > .product > .price, .main .tab > .products > .products-1 > .li-3 > .product > .price, .main .tab > .products > .products-1 > .li-4 > .product > .price, .main .tab > .products > .products-1 > .li-5 > .product > .price, .main .tab > .products > .products-1 > .li-6 > .product > .price {
  font-size: 16px;
  color: orangered;
}
.main .floor_xiang {
  width: 1182px;
  padding: 0 40px;
  padding-top: 25px;
  background: #f3f3f3;
}
.main .floor_xiang .fx_top {
  height: 40px;
  line-height: 40px;
}
.main .floor_xiang .fx_top h3 {
  float: left;
  font-size: 18px;
  font-weight: 100;
  color: #333;
}
.main .floor_xiang .fx_top h3 > img {
  padding-right: 20px;
}
.main .floor_xiang .fx_top > p {
  float: right;
  font-size: 14px;
  color: #333;
}
.main .floor_xiang .fx_top > p > span {
  padding-left: 15px;
}
.main .floor_xiang .fx_main {
  width: 100%;
  height: 600px;
}
.main .floor_xiang .fx_main .fx_main_left {
  width: 220px;
  height: 600px;
  float: left;
}
.main .floor_xiang .fx_main .fx_main_middle {
  width: 740px;
  height: 600px;
  float: left;
  background: yellow;
}
.main .floor_xiang .fx_main .fx_main_middle > .product {
  width: 180px;
  height: 250px;
  padding: 20px;
  background: white;
  float: left;
  margin-left: 20px;
}
.main .floor_xiang .fx_main .fx_main_middle > .product > .img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  cursor: pointer;
}
.main .floor_xiang .fx_main .fx_main_middle > .product > .title {
  text-align: center;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.main .floor_xiang .fx_main .fx_main_middle > .product > .title:hover {
  color: #d22147;
}
.main .floor_xiang .fx_main .fx_main_middle > .product > .price {
  text-align: center;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  color: #d22147;
}
.main .floor_xiang .fx_main .fx_main_middle > .product:nth-child(1), .main .floor_xiang .fx_main .fx_main_middle > .product:nth-child(2), .main .floor_xiang .fx_main .fx_main_middle > .product:nth-child(3) {
  margin-bottom: 20px;
}
.main .floor_xiang .fx_main .fx_main_right {
  width: 220px;
  height: 600px;
  float: right;
  background: red;
}
.main .floor_xiang .fx_banner {
  margin-top: 20px;
  width: 1182px;
  height: 90px;
}
.main .floor_mr {
  width: 1182px;
  padding: 0 40px;
  padding-top: 25px;
  background: #f3f3f3;
}
.main .floor_mr .fm_top {
  height: 40px;
  line-height: 40px;
}
.main .floor_mr .fm_top h3 {
  float: left;
  font-size: 18px;
  font-weight: 100;
  color: #333;
}
.main .floor_mr .fm_top h3 > img {
  padding-right: 20px;
}
.main .floor_mr .fm_top > p {
  float: right;
  font-size: 14px;
  color: #333;
}
.main .floor_mr .fm_top > p > span {
  padding-left: 15px;
}
.main .floor_mr .fm_main {
  width: 100%;
  height: 600px;
}
.main .floor_mr .fm_main .fm_main_left {
  width: 220px;
  height: 600px;
  float: left;
}
.main .floor_mr .fm_main .fm_main_middle {
  width: 740px;
  height: 600px;
  float: left;
  background: yellow;
}
.main .floor_mr .fm_main .fm_main_middle > .product {
  width: 180px;
  height: 250px;
  padding: 20px;
  background: white;
  float: left;
  margin-left: 20px;
}
.main .floor_mr .fm_main .fm_main_middle > .product > .img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  cursor: pointer;
}
.main .floor_mr .fm_main .fm_main_middle > .product > .title {
  text-align: center;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.main .floor_mr .fm_main .fm_main_middle > .product > .title:hover {
  color: #d22147;
}
.main .floor_mr .fm_main .fm_main_middle > .product > .price {
  text-align: center;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  color: #d22147;
}
.main .floor_mr .fm_main .fm_main_middle > .product:nth-child(1), .main .floor_mr .fm_main .fm_main_middle > .product:nth-child(2), .main .floor_mr .fm_main .fm_main_middle > .product:nth-child(3) {
  margin-bottom: 20px;
}
.main .floor_mr .fm_main .fm_main_right {
  width: 220px;
  height: 600px;
  float: right;
  background: red;
}
.main .floor_mr .fm_banner {
  margin-top: 20px;
  width: 1182px;
  height: 90px;
}
.main .floor_jy {
  width: 1182px;
  padding: 0 40px;
  padding-top: 25px;
  background: #f3f3f3;
}
.main .floor_jy .fjy_top {
  height: 40px;
  line-height: 40px;
}
.main .floor_jy .fjy_top h3 {
  float: left;
  font-size: 18px;
  font-weight: 100;
  color: #333;
}
.main .floor_jy .fjy_top h3 > img {
  padding-right: 20px;
}
.main .floor_jy .fjy_top > p {
  float: right;
  font-size: 14px;
  color: #333;
}
.main .floor_jy .fjy_top > p > span {
  padding-left: 15px;
}
.main .floor_jy .fjy_main {
  width: 100%;
  height: 600px;
}
.main .floor_jy .fjy_main .fjy_main_left {
  width: 220px;
  height: 600px;
  float: left;
}
.main .floor_jy .fjy_main .fjy_main_middle {
  width: 740px;
  height: 600px;
  float: left;
  background: yellow;
}
.main .floor_jy .fjy_main .fjy_main_middle > .product {
  width: 180px;
  height: 250px;
  padding: 20px;
  background: white;
  float: left;
  margin-left: 20px;
}
.main .floor_jy .fjy_main .fjy_main_middle > .product > .img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  cursor: pointer;
}
.main .floor_jy .fjy_main .fjy_main_middle > .product > .title {
  text-align: center;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.main .floor_jy .fjy_main .fjy_main_middle > .product > .title:hover {
  color: #d22147;
}
.main .floor_jy .fjy_main .fjy_main_middle > .product > .price {
  text-align: center;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  color: #d22147;
}
.main .floor_jy .fjy_main .fjy_main_middle > .product:nth-child(1), .main .floor_jy .fjy_main .fjy_main_middle > .product:nth-child(2), .main .floor_jy .fjy_main .fjy_main_middle > .product:nth-child(3) {
  margin-bottom: 20px;
}
.main .floor_jy .fjy_main .fjy_main_right {
  width: 220px;
  height: 600px;
  float: right;
  background: red;
}
.main .floor_jy .fjy_banner {
  margin-top: 20px;
  width: 1182px;
  height: 90px;
}

/*# sourceMappingURL=index.css.map */
